.parent{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.building{
    min-width: 200px;
    max-width: 200px;
    background-color: #b16002;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
.story{
    min-height: 70px;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.window{
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    background-color: #d0dbd3;
    border: 2px solid black;
    display: flex;

}
.pane{
    min-height: 14px;
    min-width: 14px;
    max-height: 14px;
    max-width: 14px;
    border: 1px solid black;
}
.door{
    margin-top: 5px;
    min-height: 70px;
    max-height: 70px;
    min-width: 40px;
    max-width: 40px;
    background-color: coral;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.knob{
    min-height: 5px;
    max-height: 5px;
    min-width: 5px;
    max-width: 5px;
    border-radius: 100%;
    background-color: yellow;
    border: 1px solid black;
    margin-right: 2px;
}